<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Singup</title>
    {% include 'onlineapp/css.html' %}
</head>
<body>
<form method="post">
        {% csrf_token %}
<label for="{{form.firstname.id_for_label}}">FirstName</label>
{{ form.first_name }}
<label for="{{form.lastname.id_for_label}}">LastName</label>
{{form.last_name}}
<label for="{{form.lastname.id_for_label}}">username</label>
{{form.username}}
<label for="{{form.email.id_for_label}}">Email</label>
{{form.email}}
<label for="{{form.password.id_for_label}}">Password</label>
{{form.password}}
    <input type="submit" value="submit" class="btn btn-success">
</form>
</body>
</html>